<ul class="list-inline text-center footer-links">
  {% if site.author.social.facebook %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.author.social.facebook }}" title="Facebook">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.github %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.author.social.github }}" title="GitHub">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.twitter %}
  <li>
    <a target="_blank" href="https://twitter.com/{{ site.author.social.twitter }}" title="Twitter">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.reddit %}
  <li>
    <a target="_blank" href="https://reddit.com/u/{{ site.author.social.reddit }}" title="Reddit">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.google-plus %}
  <li>
    <a target="_blank" href="https://plus.google.com/{{ site.author.social.google-plus }}" title="Google+">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.email %}
  <li>
    <a target="_blank" href="mailto:{{ site.author.social.email }}" title="Email me">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.linkedin %}
  <li>
    <a target="_blank" href="https://linkedin.com/in/{{ site.author.social.linkedin }}" title="LinkedIn">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.xing %}
  <li>
    <a target="_blank" href="https://www.xing.com/profile/{{ site.author.social.xing }}" title="Xing">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-xing fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.stackoverflow %}
  <li>
    <a target="_blank" href="https://stackoverflow.com/users/{{ site.author.social.stackoverflow }}" title="StackOverflow">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.snapchat %}
  <li>
    <a target="_blank" href="https://www.snapchat.com/add/{{ site.author.social.snapchat }}" title="Snapchat">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.instagram %}
  <li>
    <a target="_blank" href="https://www.instagram.com/{{ site.author.social.instagram }}" title="Instagram">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.youtube %}
  <li>
    <a target="_blank" href="https://www.youtube.com/{{ site.author.social.youtube }}" title="YouTube">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.social.spotify %}
  <li>
    <a target="_blank" href="https://open.spotify.com/user/{{ site.author.social.spotify }}" title="Spotify">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.author.telephone %}
  <li>
    <a target="_blank" href="tel:{{ site.author.telephone }}" title="Phone">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>