<section>
  <h1>Checklist de migration</h1>
  <p>
    <img data-src="{{ site.baseurl }}/img/checklist.jpg" class="img-responsive" alt="">
  </p>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <strong>ereg*</strong> sont à remplacer par les <strong>PCRE</strong> (Perl Compatible Regular Expression)
  <div class="twocol">
    <ul style="list-style-type: none;">
      <li><span style="color: #d9534f">✘</span> ereg_replace</li>
      <li><span style="color: #d9534f">✘</span> ereg</li>
      <li><span style="color: #d9534f">✘</span> eregi_replace</li>
      <li><span style="color: #d9534f">✘</span> eregi</li>
      <li><span style="color: #d9534f">✘</span> split</li>
      <li><span style="color: #d9534f">✘</span> spliti</li>
      <li><span style="color: #d9534f">✘</span> sql_regcase</li>
    </ul>
  </div>
  <div class="twocol">
    <ul style="list-style-type: none;">
      <li><span style="color: #5cb85c">✓</span> preg_filter</li>
      <li><span style="color: #5cb85c">✓</span> preg_grep</li>
      <li><span style="color: #5cb85c">✓</span> preg_last_error</li>
      <li><span style="color: #5cb85c">✓</span> preg_match_all</li>
      <li><span style="color: #5cb85c">✓</span> preg_match</li>
      <li><span style="color: #5cb85c">✓</span> preg_quote</li>
      <li><span style="color: #5cb85c">✓</span> preg_replace_callback_array</li>
      <li><span style="color: #5cb85c">✓</span> preg_replace_callback</li>
      <li><span style="color: #5cb85c">✓</span> preg_replace</li>
      <li><span style="color: #5cb85c">✓</span> preg_split</li>
    </ul>
  </div>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  Extension <strong>mysql</strong> supprimée et donc les fonctions <strong>mysql_*</strong> associées
  <div class="fragment" style="font-size: 1.5em;">
    <code><span style="text-decoration:line-through;">mysql_*</span> <strong><</strong> MySQLi <strong><</strong> PDO</code>
  </div>
  <div>
    <ul style="list-style-type: none;">
      <li><span style="color: #d9534f">✘</span> mysql_affected_rows</li>
      <li><span style="color: #d9534f">✘</span> mysql_client_encoding</li>
      <li><span style="color: #d9534f">✘</span> mysql_close</li>
      <li><span style="color: #d9534f">✘</span> mysql_connect</li>
      <li><span style="color: #d9534f">✘</span> mysql_create_db</li>
      <li><span style="color: #d9534f">✘</span> mysql_data_seek</li>
      <li><span style="color: #d9534f">✘</span> mysql_db_name</li>
      <li><span style="color: #d9534f">✘</span> ...</li>
    </ul>
  </div>

  <aside class="notes">
    En résumé vous devrez passer à PDO!<br />
    L'extension mssql a également été supprimée.
  </aside>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <h2>Directives INI supprimées</h2>
  <ul style="list-style-type: none;">
    <li><span style="color: #d9534f">✘</span> always_populate_raw_post_data</li>
    <li><span style="color: #d9534f">✘</span> asp_tags</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>always_populate_raw_post_data : si défini à TRUE, PHP va toujours peupler la variable $HTTP_RAW_POST_DATA des données brutes POST</li>
      <li>asp_tags : Active l'utilisation des balises ASP (<% %>) tout en conservant les balises PHP (<?php ?>). Cela inclut l'utilisation des balises courtes comme <%= $valeur %></li>
    </ul>
  </aside>
</section>