<section>
  <h1>Checklist de migration</h1>
  <p>
    <img data-src="{{ site.baseurl }}/img/checklist.jpg" class="img-responsive" alt="">
  </p>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <h2>Suppression des fonctionnalités dépréciées</h2>
  <div data-markdown>
    https://wiki.php.net/rfc/remove_deprecated_functionality_in_php7
  </div>
  <div class="fragment" style="font-size: 1.5em;">
    <code><span style="text-decoration:line-through;">mysql_*</span> <strong><</strong> MySQLi <strong><</strong> PDO</code>
  </div>
  <div class="fragment" style="font-size: 1.5em;">
    <code><span style="text-decoration:line-through;">ereg*</span> <strong><</strong> pcre</code>
  </div>

  <aside class="notes">
    <p>
      Extension <strong>mysql</strong> supprimée et donc les fonctions <strong>mysql_*</strong> associées.
      En résumé vous devrez passer à PDO!
      L'extension mssql a également été supprimée.
    </p>
    <p>
      <strong>ereg*</strong> sont à remplacer par les <strong>PCRE</strong> (Perl Compatible Regular Expression)
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <h2>Directives INI supprimées</h2>
  <ul style="list-style-type: none;">
    <li><span style="color: #d9534f">✘</span> always_populate_raw_post_data</li>
    <li><span style="color: #d9534f">✘</span> asp_tags</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>always_populate_raw_post_data : si défini à TRUE, PHP va toujours peupler la variable $HTTP_RAW_POST_DATA des données brutes POST</li>
      <li>asp_tags : Active l'utilisation des balises ASP (<% %>) tout en conservant les balises PHP (<?php ?>). Cela inclut l'utilisation des balises courtes comme <%= $valeur %></li>
    </ul>
  </aside>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <div data-markdown>
    ## Constructeurs PHP 4 dépréciés
    ````php
    class Filter {
      public function filter() { ... }
    }
    new Filter();
    ````
    https://wiki.php.net/rfc/remove_php4_constructors
  </div>

  <aside class="notes">
    <p>
      Les constructeurs PHP4 ne sont plus reconnus dans une classe d'un namespace.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <div data-markdown>
    ## Mots clés réservés supplémentaires
    `bool`, `int`, `float`, `string`, `resource`, ...
  </div>
  <div class="fragment" data-markdown>
    ````php
    class resource {
      public function __construct() { ... }
    }
    new resource();
    ````
  </div>
  <div class="fragment" data-markdown>
    ````text
    Fatal error: "resource" cannot be used as a classname.
    ````
  </div>
  <div data-markdown>
    https://wiki.php.net/rfc/reserve_more_types_in_php_7
    https://wiki.php.net/rfc/reserve_even_more_types_in_php_7
  </div>

  <aside class="notes">
    <p>
      Certains types sont devenus des mots clés réservés pour les noms de classes, traits et interfaces.
    </p>
    <p>
      Par exemple ceci vous retournera une erreur fatale.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Checklist de migration</h5>
  <div data-markdown>
    ## "default" unique pour switch
    ````php
    switch($expr) {
      default:
    &nbsp;&nbsp;&nbsp;&nbsp;neverExecuted();
    &nbsp;&nbsp;&nbsp;&nbsp;break;
      default:
    &nbsp;&nbsp;&nbsp;&nbsp;executed();
    }
    ````
  </div>
  <div class="fragment" data-markdown>
    ````text
    Fatal error: Switch statements may only contain one default clause.
    ````
  </div>

  <aside class="notes">
    <p>
      switch n'accepte plus plusieurs default et générera une erreur fatale.
    </p>
  </aside>
</section>