<section>
  <div data-markdown>
    # Symfony
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/symfony.png" class="img-responsive" style="border: none;background: none;" alt="">
  </p>
</section>

<section>
  <h5 class="title-min">Symfony</h5>
  <p>
    <img data-src="{{ site.baseurl }}/img/symfony-release-process.jpg" class="img-responsive" style="max-height: 540px;" alt="">
  </p>

  <aside class="notes">
    <p>Symfony 3 est sorti en Novembre 2015</p>
  </aside>
</section>

<section>
  <h5 class="title-min">Symfony</h5>
  <p>
    <img data-src="{{ site.baseurl }}/img/symfony-lts.jpg" class="img-responsive" style="max-height: 540px;" alt="">
  </p>

  <aside class="notes">
    <p>
      Sur ce tableau vous pouvez voir les versions de Symfony qui sont en LTS (Long Term Support) sur 36 mois (3 ans)
      et qui donc supportent PHP 7 actuellement.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Symfony</h5>
  <h5>
    Dans ces versions compatibles avec PHP 7, des fonctions obsolètes ont été supprimées et la version minimum de PHP
    est désormais passée de 5.5 à 5.6.
  </h5>

  <aside class="notes">
    <p>
      Et comme je vous le disais, la version 2.8 en LTS intègre bien sûr les fonctionnalités de la version 3.0 en
      conservant la rétro compatibilité avec les précendentes versions.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Symfony</h5>
  <p data-markdown>
    ## Changements
    * Signatures de méthode
    * Redéfinition de classes et méthodes
    * Adaptation aux nouvelles normes PSR (php-fig.org)
    * Modification de la structure des fichiers
  </p>

  <aside class="notes">
    <p>
      Des changements dans son architecture ont été effectués.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Symfony</h5>
  <p data-markdown>
    ## Rappel sur les normes PSR

    > PSR : Propose a Standards Recommendation

    * PSR-0 : Chargement des classes PHP et autoloading
    * PSR-1 : Conventions minimales de codage
    * PSR-2 : Style et l'organisation du code
    * PSR-3 : S'occupe de l'interface des loggers
    * PSR-4 : Nouveau standard d'autoloading
    * ...

    *Source : http://www.php-fig.org/psr/*
  </p>

  <aside class="notes">
    <p>
      Ces recommandations sont validées par le PHP Framework Interoperability Group (www.php-fig.org)
    </p>
  </aside>
</section>