<section>
  <div data-markdown>
    ## Tester une migration à PHP 7
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/migration.jpg" class="img-responsive" alt="">
  </p>

  <aside class="notes">
    <p>
      Avant de sauter le pas, il faut tout d'abord rechercher les incompatibilités présentes dans votre projet.
      Pour cela plusieurs solutions sont disponibles.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Tester une migration à PHP 7</h5>
  <h2>php7cc</h2>

  <div class="twocol">
    <ul>
      <li>Outil en CLI</li>
      <li>Installation par Phar, Composer ou Docker</li>
    </ul>
  </div>

  <div class="twocol">
    <img data-src="{{ site.baseurl }}/img/php7cc-warning.png" class="img-responsive" style="max-height: 480px;" alt="">
  </div>

  <div data-markdown>
    Plus d'infos : https://github.com/sstalle/php7cc
  </div>

  <aside class="notes">
    <p>
      php7cc ou PHP 7 Compatibility Checker est un outil en ligne de command prévu pour faire une migration depuis PHP 5.3-5.6 vers PHP 7 facilement.
    </p>
    <p>
      Vous pouvez l'installer par phar, Composer ou Docker.
    </p>
  </aside>
</section>
