<section>
  <div data-markdown>
    # Timeline
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/look-left.jpg" class="img-responsive" alt="">
  </p>
</section>

<section>
  <h5 class="title-min">Timeline</h5>
  <div data-markdown>
    *Source : https://fr.wikipedia.org/wiki/PHP*
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/timeline.png" class="img-responsive" alt="">
  </p>

  <aside class="notes">
    <p>Voici un petit historique des versions de PHP depuis sa naissance.</p>
    <p>
      <strong>1.0</strong>
      Appelé officiellement "Personal Home Page Tools (PHP Tools)", outils pour page personnelle. C'est la première apparition du nom "PHP"
    </p>
    <p>
      <strong>2.0</strong>
      Appelé officiellement "PHP/FI 2.0", c'est la première version qui pourrait effectivement être qualifiée de PHP
      comme étant une langue autonome avec de nombreuses fonctionnalités.
    </p>
    <p>
      <strong>3.0</strong>
      Passage d'une personne à une équipe de développeurs. Zeev Suraski et Andi Gutmans réécrivent la base de cette version
    </p>
    <p>
      <strong>4.0</strong>
      Ajout d'un système d'analyse syntaxique plus avancé appelé le Zend Engine. Ce moteur procède en deux étapes d'analyse puis d'exécution.<br />
      Introduit les superglobals.<br />
      Introduit le CLI, en addition au CGI.<br />
    </p>
    <p>
      <strong>5.0</strong>
      Zend Engine II avec un nouveau modèle objet.
    </p>
    <p>
      <strong>5.1</strong>
      Naissance de PDO<br />
      Amélioration de performances par l'introduction de variables de compilation dans un moteur PHP repensé
    </p>
    <p>
      <strong>5.3</strong>
      Beaucoup de choses avec :
      Support des espaces de noms ; Late Static Bindings (résolution statique à la volée) ; étiquettes de saut (goto limité) ;
      fermetures (closures) ; Native PHP archives (phar) ; raccourci pour l'opérateur ternaire (?:) ; fonctions anonymes ; nombreuses corrections de bug ; Introduit PHP-FPM
    </p>
    <p>
      <strong>5.4</strong>
      Support des traits ; syntaxe courte des tableaux introduite ; accès aux index de tableaux en sortie de fonctions ; les fermetures supportent $this ;
      accès aux attributs d'un objet dès l'instanciation ; ajout syntaxe Class::{expr}() ; ajout format de nombres binaires ;
      suivi des envois de fichiers via l'extension de session ; serveur web embarqué en CLI dédié au développement ;
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Timeline</h5>
  <div data-markdown>
    *Source : http://php.net/supported-versions.php*
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/php-calendar.png" class="img-responsive" alt="">
  </p>
</section>