<section>
  <h2>Passer à PHP 7 ?</h2>
  <p>
    <img data-src="{{ site.baseurl }}/img/get-ready-php7.jpg" class="img-responsive" alt="">
  </p>
</section>

<section>
  <h5 class="title-min">Passer à PHP 7 ?</h5>

  <h1>PHP 5</h1>
  <h2>est maintenant âgé de 13 ans</h2>

  <div class="fragment">
    <h1>+<br />PHP 7</h1>
    <h2>est assez mature</h2>
  </div>

  <aside class="notes">
    <p>Comme on l'a vu sur la timeline il était temps de passer à une nouvelle version majeure après 13 ans de service pour PHP 5!</p>
    <p>De plus, PHP 7 est assez mature pour se permettre cette transition!</p>
  </aside>
</section>

<section>
  <h5 class="title-min">Passer à PHP 7 ?</h5>
  <div class="twocol">
    <p data-markdown style="text-align: center;">
      **De meilleures performances grâce à PHPNG**
      (PHP Next Generation)
    </p>
    <div class="fragment">
      <p style="text-align: center;">
        =
      </p>
      <p data-markdown  style="text-align: center;">
        **à Facebook HHVM**
        (HipHop Virtual Machine)
      </p>
    </div>
  </div>
  <div class="twocol">
    <img data-src="{{ site.baseurl }}/img/memory-usage.png" class="img-responsive" alt="">
  </div>
  <div data-markdown>
    Plus d'infos sur le bench : http://talks.php.net/oz15#/drupalbench
  </div>

  <aside class="notes">
    <p>
      Cette nouvelle version est basée sur PHPNG (pour PHP Next-Generation).
      Une initiative qui a été lancée par Zend en réponse à la technologie HHVM de Facebook,
      qui avait pour but de proposer une version de PHP qui se voulait plus performante.
    </p>

    <p>
      Selon Zend, la mise à jour des applications vers PHP 7 pourrait engendrer un surcroît de performance de 25% à 70%.
      L'éditeur a publié quelques indicateurs qu'il a résumé en une <a href="https://pages.zend.com/rs/zendtechnologies/images/PHP7-Performance%20Infographic.pdf">infographie publiée en mai 2015</a>.
      Ces comparatifs montrent que WordPress (en version 4.1) serait deux fois plus rapide avec PHP 7 qu'avec PHP 5.6, et Drupal (7) 70% plus rapide.
      A travers son benchmark, le projet PHP met aussi en avant un niveau d'optimisation qui se veut être au même niveau que celui de HHVM, voire légèrement au dessus.
    </p>

    <p>
      Pour info la machine virtuelle HHVM permet optimiser le développement, le débogage et l'exécution de code PHP.
      Le langage Hack créé aussi par Facebook et proche du PHP est utilisé sur la quasi-totalité du site de Facebook
      et s'exécute au sein d'une machine virtuelle HHVM.
    </p>
  </aside>
</section>

<section>
  <h5 class="title-min">Passer à PHP 7 ?</h5>
  <div data-markdown>
    *Source : https://www.zend.com*
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/zend-infographic-drupal.png" class="img-responsive" alt="">
  </p>
</section>

<section>
  <h5 class="title-min">Passer à PHP 7 ?</h5>
  <div data-markdown>
    *Source : https://www.zend.com*
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/zend-infographic-lang.png" class="img-responsive" alt="">
  </p>

  <aside class="notes">
    Ce graphique est à prendre avec des pincettes, notamment pour Ruby qui depuis sa version 2.3 a des performances équivalentes avec PHP 7.
    Quoique la 7.1 qui est sortie il y a quelques semaines est encore plus prometteuse.
  </aside>
</section>

<section>
  <h5 class="title-min">Passer à PHP 7 ?</h5>
  <div data-markdown>
    *Source : https://twitter.com/andygrunwald/status/735515546033262592*
  </div>
  <p>
    <img data-src="{{ site.baseurl }}/img/trivago-response-time.png" class="img-responsive" alt="">
  </p>

  <aside class="notes">
    <p>Sur ce graphique on a une représentation plus concrète du passage à PHP 7 pour le site de comparaison d'hôtels Trivago.</p>
    <p>Seule la configuration de FPM a été modifiée. Les admins n'ont pas eu besoin de toucher au serveur web ou au php.ini</p>
  </aside>
</section>

<section>
  <h5 class="title-min">Passer à PHP 7 ?</h5>
  <h2>Quelques cas d'étude</h2>
  <div data-markdown>
    * [Badoo qui a préservé 1 million de dollars](https://techblog.badoo.com/blog/2016/03/14/how-badoo-saved-one-million-dollars-switching-to-php7/) en passant à PHP 7
    * [Tumblr qui a réduit sa latence et charge CPU de moitié](https://engineering.tumblr.com/post/152998126990/php-7-at-tumblr)
    * [Dailymotion qui gère deux fois plus de traffic](http://engineering.dailymotion.com/php-7-deployment-at-dailymotion/) avec la même infrastructure en passant à PHP 7.
  </div>

  <aside class="notes">
    D'autres acteurs du net...
  </aside>
</section>

<section>
  <h1>PHP 6 ?</h1>
  Prise en charge de l'Unicode au coeur du langage.<br />
  Non publié, le projet a été abandonné.
  <div data-markdown>
    Plus d'infos : https://wiki.php.net/rfc/php6
  </div>

  <aside class="notes">
    L'accumulation du retard et des problèmes a conduit en mars 2010 à l'abandon du projet PHP 6 : les morceaux rassemblés jusque-là
    furent alors intégrés dans la version 5.4.
  </aside>
</section>
