---
layout: default
---
{% include vars.html %}

<a href="{{ var_repo_url }}"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1" src="img/fork-me.png"></a>

<div class="reveal">
  <div class="slides">
    {% include slides/home.html %}
    {% include slides/agenda.html %}
    {% include slides/timeline.html %}
    {% include slides/why-upgrade.html %}
    {% include slides/checklist-migrate.html %}
    {% include slides/whats-new.html %}
    {% include slides/php-71.html %}
    {% include slides/symfony.html %}
    {% include slides/questions.html %}
  </div>
</div>